.profile__container {
  display: flex;
}

@media screen and (min-width: 20rem) and (max-width: 767px) {
  .profile__container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}