.popup-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 20rem) and (max-width: 768px) {
  .popup-image{
    height: auto;
    margin: auto;
    width: 75%;
  }
}