.profile__title {
  font-size: 2.625rem;
  min-width: 23.3125rem;
  line-height: 3rem;
  margin: 0 0 1rem 0;
}


@media screen and (min-width:48rem) and (max-width: 63.9375rem) {
  .profile__title {
    font-size: 2.4rem;
  }
}


@media screen and (min-width: 20rem) and (max-width: 767px) {
  .profile__title {
    min-width: 12.5rem;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 27px;
    text-align: center;
  }
}