/* normalize */
@import url(../vendor/normalize.css);

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* body */
@import url(../blocks/body/body.css);

/* title */
@import url(../blocks/title/title.css);

/* subtitle */
@import url(../blocks/subtitle/subtitle.css);

/* button */
@import url(../blocks/button/button.css);
@import url(../blocks/button/__image/button__image.css);
@import url(../blocks/button/__text/button__text.css);
@import url(../blocks/button/__text/_disabled/button__text_disabled.css);

/* logo */
@import url(../blocks/logo/logo.css);

/* header */
@import url(../blocks/header/header.css);

/* line */
@import url(../blocks/line/line.css);

/* profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__titles/profile__titles.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__content/profile__content.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__button/profile__button.css);

/* posts */
@import url(../blocks/posts/posts.css);

/* post */
@import url(../blocks/post/post.css);
@import url(../blocks/post/__image/post__image.css);
@import url(../blocks/post/title/post__title.css);
@import url(../blocks/post/__container/post__container.css);
@import url(../blocks/post/__button/post__button.css);
@import url(../blocks/post/__delete/post__delete.css);
@import url(../blocks/post/__button/_active/post__button_active.css);

/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/footer__title/footer__title.css);

/* fade */
@import url(../blocks/fade/fade.css);
@import url(../blocks/fade/_closed/fade_closed.css);

/* popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_closed/popup_closed.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__icon/popup__icon.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__text/popup__text.css);
@import url(../blocks/popup/__image/popup__image.css);

/* popup-image */
@import url(../blocks/popup-image/popup-image.css);
@import url(../blocks/popup-image/__close/popup-image__close.css);

/* modal */
@import url(../blocks/modal/modal.css);
@import url(../blocks/modal/__title/modal__title.css);
@import url(../blocks/modal/__button/modal__button.css);
@import url(../blocks/modal/__button/_disabled/modal__button_disabled.css);

/* form */
@import url(../blocks/form/form.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__input/_add/form__input_add.css);
@import url(../blocks/form/__input/_error/form__input_error.css);
@import url(../blocks/form/__description/_error/form__description_error.css);


.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .1875rem;
  margin-right: 1.125rem;
}

.like {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

.modal__button_delete {
  max-width: 22.375rem;
}

.modal__title_delete {
  margin: 0;
}

.popup_modal-delete {
  max-width: 420px;
}

@media screen and (min-width: 20rem) and (max-width: 767px) {
  .popup_modal-delete {
    width: 17.625rem;
  }
}

.profile__pictures {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 20rem) and (max-width: 767px) {
  .profile__pictures {
    margin-top: 2.375rem;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transform: scale(1.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
}

.cover:hover {
  opacity: 1;
  transform: scale(1);
}