.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 55rem;
}


@media screen and (min-width:48rem) and (max-width: 63.9375rem){
  .header{
    min-width: auto;
  }
}


@media screen and (min-width: 20rem) and (max-width: 767px) {
  .header {
    min-width: auto;
  }
}